
.table {
	margin-left: auto;
	margin-right: auto;
    margin-top: 30px;
    border: 10px solid #484848;
}

td {
    border: 5px solid #484848;
}

.black {
    background-color: #000;
}

.blue {
    background-color: #387FD3;
}

.yellow {
	background-color: #FFDE23;
}

.red {
    background-color: #DF1904;
}

.main {
    width: 40px;
    height: 40px;
}

.h40 {
    height: 40px;
}


.h85 {
	height: 85px;
}

.w55 {
    width: 55px;
}

.w170 {
    width: 170px;
}
