@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.ttf');
}

.main-container {
    background-image: url(../img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 22px;
    min-height: 100vh;
}

.table {
	margin-left: auto;
	margin-right: auto;
}

.title {
    width: 157px;
    padding: 32px 0;
    font-size: 20px;
    font-weight: 700;
    color: #484848;
    line-height: 28px;
}

td {
    vertical-align: middle;
    box-shadow: inset 0 -8px 7px -9px black;
}

.cell {
    color: #484848;
    line-height: 24px;
    font-size: 16px;
}

.icon {
	color: #848484;
}

.first-col-title {
	background-color: #fafafa;
    width: 198px;
    font-weight: 700;
    color: #484848;
}

.smaller-text {
	font-size: 14px;
}

.bigger-text {
	font-size: 20px;
}

.first-col {
	height: 166px;
    color: #fff;
    width: 198px;
    font-weight: 700;
    box-sizing: border-box;
}

.standart {
	background-color:  #89c331;
}

.ultimate {
	background-color:  #f04a56;
}

.premium {
	background-color:  #20807c;
}

.col-style1 {
    background-color: #e3e3e3;
}

.col-style-2 {
	background-color: #f2f2f2;
}

.first-col-name {
	font-size: 24px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.price-value {
	display: flex;
    align-items: flex-start;
}

.dollar-price-value {
	font-size: 36px;
}

.cent-price-value {
	font-size: 18px;
}

.period {
	font-size: 14px;
    margin-left: 8px;
}

.first-col-btn {
    margin-top: 10px;
    width: 144px;
    height: 41px;
    border-radius: 5px;
    background-color: #414141;
    border: 1px solid transparent;
    box-shadow: 0 5px #343434;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

.first-col-btn:focus {
	color: skyblue;
}