body {
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #FFB600;
	background-color: #000;
}

#titles {
	position: absolute;
	width: 18em;
	height: 35em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 450%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(400px) rotateX(25deg);
}

#titlecontent {
	position: absolute;
	top: 100%;
	animation: scroll 30s linear infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: 0%; }
}

.episode, .episode-title {
    text-align: center;
    margin-bottom: 1em;
}

.par1 {
	text-align: left;
    margin-bottom: 1em;
}

.par2 {
    text-align: justify;
}