.cell {
	height: 20px;
	width: 20px;
	border: 1px solid #C0C0C0;
	background-color: #fff;
}

.active {
	background-color: #000;
}

.inverse .cell {
	background-color: #000;
}

.inverse .active {
	background-color: #fff;
}